.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap; /* Asegura que los elementos se ajusten cuando la pantalla se haga más pequeña */
  }
  
  .row {
    width: 100%;
  }
  
  .form-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Borde a relieve sutil */
    text-align: center;
    width: 100%; /* Asegura que ocupe el 100% dentro de las 4 columnas */
    min-width: 450px; /* El formulario nunca será más pequeño que 450px */
    margin-top: 10px; /* Reducir el margen superior de la tarjeta */
  }
  
  .image-container {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    width: 100%;
  }
  
  .login-image {
    width: 70%; /* Ajusta el tamaño de la imagen */
    max-width: 350px; /* Tamaño máximo de la imagen */
    height: auto;
    border-radius: 8px;
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
    margin-bottom: 30px; /* Aumentar el espacio entre la imagen y el título */
  }
  
  .form-outline {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 60%; /* Limitar el ancho de los inputs a un máximo del 60% */
    padding: 12px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid #ccc; /* Solo el borde inferior */
    border-radius: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-control:focus {
    border-color: #FF5B5B; /* Color del borde cuando el input está enfocado */
    box-shadow: none;
  }
  
  /* Animación para el placeholder */
  .custom-input-login::placeholder {
    color: #ccc;
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* Cuando el input está enfocado o tiene texto */
  .custom-input-login:focus::placeholder,
  .custom-input-login:not(:placeholder-shown)::placeholder {
    top: -12px;
    left: 15px;
    font-size: 12px;
    color: #FF5B5B;
  }
  
  .suggestion-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .btn-submit {
    background-color: #FF5B5B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    width: 60%; /* El botón ocupa el 60% del espacio disponible */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: rgb(253, 100, 100);
    color: rgb(185, 160, 160);
  }
  
  .text-custom {
    color: #FF5B5B;
  }
  
  .link-custom {
    color: #FF5B5B;
    text-decoration: none;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .form-container {
      width: 100%;
      min-width: 450px; /* El formulario nunca será más pequeño que 450px */
    }
  
    .image-container {
      width: 100%;
      margin-top: 20px;
      min-height: 200px; /* Tamaño mínimo para la imagen */
    }
  
    .login-container {
      flex-direction: column;
    }
  
    .form-control {
      width: 80%; /* Los inputs ocuparán el 80% del espacio en pantallas pequeñas */
    }
  
    .btn-submit {
      width: 80%; /* El botón ocupará el 80% del espacio en pantallas pequeñas */
    }
  
    /* En pantallas pequeñas, la imagen debe ir arriba */
    .image-container {
      order: -1;
      max-height: 300px; /* Asegura que la imagen no se haga más grande en pantallas pequeñas */
    }
  }
  